*.pyc
*.so
*.png
*.swp
.coverage
build
pygme.egg-info
c_pygme_models_grmodels.c
c_pygme_models_lagroute.c
c_pygme_models_utils.c
c_pygme_models_knndaily.c
c_pygme_models_rivermodel.c
c_pygme_models_patterns.c
nosetests.xml
tests/matrix.hdf5
tests/vector.json
